target/
*.class
*.jar
*.war
*.ear
*.logs
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iws
*.iml
*.ipr
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

application-local.properties
application-local.yml
*.env

commits.md
